<div class="sidebar">

  <nav class="sidebar-nav" style="text-align:left;">

    <!-- other tab according to _data/navigation.yml order  -->
    <!-- {% for link in site.data.navigation.main %} -->
    <!-- <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a> -->
    <!-- {% endfor %} -->

    <ul>
      <li>
	<a class="sidebar-nav-item" href="index.html"> Course Description</a>
      </li>
      <li>
	<a class="sidebar-nav-item" href="vectorCalculus.html"> Vector Calculus Review</a>
      </li>

      <li>
	<a class="sidebar-nav-item" href="pdeDef.html"> PDE Examples </a>
      </li>

      <li>
	<a class="sidebar-nav-item" href="matlabDemo.html"> Introduction to Matlab pdetoolbox </a>
      </li>

      
      <li>
	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 2: Poisson Equation, Diffusion, and heat equation </a>
      </li>
      <li>
	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 3: PDE of generic transport phenomena </a>
      </li>
      <li>
	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 4: Structural Mechanics </a>
      </li>
      <li>
	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 5: Aeronautics, fluid mechanics </a>
      </li>
      <li>
	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 6-10: New areas using PDEs </a>
      </li>
     
    </ul>
  </nav>

</div>
