<div class="sidebar">
<img src="/images/ajit.jpg" alt="Ajit's Pic" class="align-right" >

    <div class="sidebar-about">
        <h3>
          <a href="/aboutMe/">
            {{ site.title }}
          </a>
        </h3>


      <!-- <p class="lead">
                {{ site.description }}
      </p> -->
    </div>

    <nav class="sidebar-nav">

      <!-- other tab according to _data/navigation.yml order  -->
      {% for link in site.data.navigation.main %}
        <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
      {% endfor %}

      <a class="sidebar-nav-item" href="/CV-AjitKumar.pdf" target="_blank"> CV </a>


      <!-- <a class="sidebar-nav-item" href="{{ site.github.repo }}/archive/v{{ site.version }}.zip">Download</a>
      <a class="sidebar-nav-item" href="{{ site.github.repo }}">GitHub project</a>
      <span class="sidebar-nav-item">Currently v{{ site.version }}</span> -->
    </nav>
    <div class="container sidebar-sticky">

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
