<div class="sidebar">

  <nav class="sidebar-nav" style="text-align:left;">

    <!-- other tab according to _data/navigation.yml order  -->
    <!-- {% for link in site.data.navigation.main %} -->
    <!-- <a class="sidebar-nav-item{% if page.url == link.url %} active{% endif %}" href="{{ link.url }}">{{ link.title }}</a> -->
    <!-- {% endfor %} -->

    <ul>
      <li>
	<a  class="sidebar-nav-item{% if page.key == 1 %} active{% endif %}" href="index.html"> Course Information </a>
      </li>

      
      <li>
	<a class="sidebar-nav-item{% if page.key == 2 %} active{% endif %}" href="vectorCalculus.html"> Vector Calculus Review</a>
      </li>

      <li>
	<a class="sidebar-nav-item{% if page.key == 3 %} active{% endif %}" href="pdeDef.html"> PDE Examples </a>
      </li>

      <li>
	<a class="sidebar-nav-item{% if page.key == 4 %} active{% endif %}" href="matlabDemo.html"> Introduction to Matlab pdetoolbox </a>
      </li>

      
      <li>
	<a class="sidebar-nav-item{% if page.key == 5 %} active{% endif %}" href="heatEquation.html"> Heat Equation </a>
      </li>
      <!-- <li> -->
      <!-- 	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 3: PDE of generic transport phenomena </a> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- 	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 4: Structural Mechanics </a> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- 	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 5: Aeronautics, fluid mechanics </a> -->
      <!-- </li> -->
      <!-- <li> -->
      <!-- 	<a class="sidebar-nav-item" href="pageUnderConstruction.html"> Project 6-10: New areas using PDEs </a> -->
      <!-- </li> -->
     
    </ul>
  </nav>


  <div class="container sidebar-sticky">
    <p>Author: <a href="/aboutMe/"> Ajit Kumar </a></p>
  </div>
  
</div>
