<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body > <!--  class="theme-base-0f"> -->

    <!-- side bar-->
    
    <div class="sidebar">
      
      <nav class="sidebar-nav" style="text-align:left;">

<ul>
  {% for post in site.categories.openfoam %}
  
  <li> <a class="sidebar-nav-item{% if page.url == post.url %} active{% endif %}" href="{{ post.url }}">{{ post.title}}</a> </li>
    
  {% endfor %}
</ul>

	

      </nav>


      <div class="container sidebar-sticky">
	<p>Author: <a href="/aboutMe/"> Ajit Kumar </a></p>
      </div>
      
    </div>


    


    <div class="content container">
      {{ content }}
    </div>

  </body>
</html>
